<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>
    page指定Demo
  </title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

</head>

<body>
  <p><a href="/">回到首页</a></p>
  <p>此页面用来演示:</p>
  <p>当pageId是pageFileDemo时,</p>
  <p>pageFile可以设置为pageFileDemo02,或者pageFileDemo06;</p>
  <h2>page url: /page/pageFileDemo</h2>
  <h2>page文件: /view/page/pageFileDemo06.html</h2>
</body>
